<%=render "layouts/admin_header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <% if @sauna.errors.any? %>
                <div class="row mt-5">
                    <h1><%= @sauna.errors.count %>件のエラーが発生しました</h1>
                    <ul>
                        <% @sauna.errors.full_messages.each do |message| %>
                            <li class="fs-5"><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="row mt-5">
                <h1>サウナ施設の投稿</h1>
            </div>

            <div class="row mt-5">
                <%=form_with model: @sauna, url: admin_saunas_path, method: :post do |f|%>
                    <div class="col-md-5">
                        <h4>サウナ施設名前</h4>
                        <%=f.text_field :name, class: "form-control"%>
                    </div>
                    <div class="col-md-5 mt-4">
                        <h4>住所</h4>
                        <%=f.text_field :address, class: "form-control"%>
                    </div>

                    <div class="mt-4 col-md-5">
                        <h4>写真(1枚のみ)</h4>
                        <%= f.file_field :image, accept: "image/*", class: "form-control" %>
                    </div>

                    <div class="mt-4 col-md-5">
                        <h4>サウナ施設の説明</h4>
                        <%= f.text_area :express, class: "form-control", :size=>"60x10" %>
                    </div>

                    <div class="col-md-5 mt-4">
                        <h4>サウナ室の温度</h4>
                        <%=f.collection_select :sauna_info_id, @sauna_infos, :id, :temperature, include_blank: "選択してください"%>
                    </div>

                    <div class="col-md-5 mt-4">
                        <h4>水風呂の温度</h4>
                        <%=f.collection_select :water_id, @water, :id, :temperature, include_blank: "選択してください"%>
                    </div>

                    <%=f.submit "投稿する", class: "btn btn-primary mt-5" %>
                <%end%>
            </div>

        </div>
    </div>
</div>