<%=render "layouts/admin_header"%>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">
            <div class="row mt-5">
                <h1 class="text-center">サウナ施設詳細<h1>
            </div>

            <div class="row mt-5">
                <h2 class="text-center">サウナ施設名</h2>
                <p class="fs-3 text-center"><%=@sauna.name%></p>
            </div>

            <div class="row mt-5">
                <h4 class="text-center">サウナ施設画像<h4>
                <div class="card mt-1 text-center">
                    <%=image_tag @sauna.get_image(900,600), alt: "読み込みエラー"%>
                </div>
            </div>

            <div class="row mt-5">
                <h2 class="text-center">サウナ施設住所</h2>
                <p class="fs-4 text-center"><%=@sauna.address%></p>
            </div>

            <div class="row mt-5">
                <h2 class="text-center">サウナ施設の説明</h2>
                <p class="fs-5"><%=simple_format(h(@sauna.express))%></p>
            </div>

            <div class="row mt-2 d-flex justify-content-center">
                <div class="col-md-5 col-10">
                    <%@sauna.sauna_infos.each do |sauna| %>
                        <div class="col-md-auto mb-4">
                            <h4><i class="fa-solid fa-fire fa-lg pe-1" style="color: #d32727;"></i>サウナ室の温度
                            <p class="fs-4 mt-2 text-center"><%=sauna.temperature%>度</p></h4>
                        </div>
                    <%end%>
                </div>
                <div class="col-md-5 col-10">
                    <%@sauna.waters.each do |water|%>
                        <div class="ms-md-4 col-md-auto">
                            <h4><i class="fa-solid fa-droplet fa-lg pe-1" style="color: #200cb6;"></i>水風呂の温度
                            <p class="fs-4 mt-3 text-center"><%=water.temperature%>度</p></h4>
                        </div>
                    <%end%>
                </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-auto">
                    <%=link_to '編集する', edit_admin_sauna_path(@sauna.id), class: "btn btn-secondary"%>
                </div>
                <div class="col-md-auto">
                    <%=link_to "削除する", admin_sauna_path(@sauna.id), data: {"turbo-method": :delete, "turbo_confirm": "このサウナ施設を削除します。この操作は取り消せません。"}, class: "btn btn-danger"%>
                </div>
            </div>
            
        </div>
    </div>
</div>