<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <h1>問い合わせまたはサウナ施設の情報提供</h1>
            </div>
            <div class="row mt-5">
                <div class="col-4 me-3">
                    <%=link_to "問い合わせ", contact_form_path(@contact), data: {"turbo-method": :post}, class: "fs-5"%>
                </div>
                <div class="col-4 me-3">
                    <%=link_to "サウナ施設の情報提供", sauna_info_path(@contact), data: {"turbo-method": :post}, class: "fs-5"%>
                </div>
            </div>

            <div class="row mt-5" id="which-form-<%=@contact.type%>">
                <%=render 'public/contacts/contact_form', contact: @contact%>
            </div>
            
        </div>

    </div>
</div>