<!DOCTYPE html>
<html>
    <head>
        <title>サウナ探検隊</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= favicon_link_tag('sauna_favicon.ico') %>
        
        <script src="https://kit.fontawesome.com/0ea4f70a08.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <p>こんにちは！ <%= @resource.email %>さん</p>

        <p>誰かが「サウナ探検隊」パスワードの変更を要求しています. もし、その誰かがあなたであれば以下のリンクから変更が可能です.</p>

        <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

        <p>もし、このメールに心当たりがない場合は<strong>無視</strong>してください.</p>
        <p>あなたが上部のリンクからパスワードを再設定しない限り、何かが変わることはありません.</p>

        <div class="mt-5">
            <p>|-------------------------------------------------|</p>
            
            <p>サウナ探検隊</p>
            <a class="" href="https://sauna-tankentai.daiki-portfolio.site/">サウナ探検隊へ遷移します</a>
            
            <p>管理者</p>
            <a class="" href="https://hitori-times.com/">ひとりの時間</a>

            <p>|-------------------------------------------------|</p>
        </div>
    </body>
</html>