<!DOCTYPE html>
<html>
  <head>
    <title>サウナ探検隊</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('sauna_favicon.ico') %>
    
    <script src="https://kit.fontawesome.com/0ea4f70a08.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>こんにちは！ <%= @resource.email %>さん</p>

    <p>アカウントのログインに何回も失敗してしまいましたか？あなたのアカウントはロックされました.</p>

    <p>安心してください！以下のリンクからあなたのアカウントを復活させることができます.</p>

    <p><%= link_to 'アカウントの復活', unlock_url(@resource, unlock_token: @token) %></p>

    <div class="mt-5">
        <p>|-------------------------------------------------|</p>
        
        <p>サウナ探検隊</p>
        <a class="" href="https://sauna-tankentai.daiki-portfolio.site/">サウナ探検隊へ遷移します</a>

        <p>管理者</p>
        <a class="" href="https://hitori-times.com/">ひとりの時間</a>

        <p>|-------------------------------------------------|</p>
    </div>
  </body>
</html>