<%=render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <% if @tweet.errors.any? %>
                <div class="row mt-5">
                    <h1><%= @tweet.errors.count %>件のエラーが発生しました</h1>
                    <ul>
                        <% @tweet.errors.full_messages.each do |message| %>
                            <li class="fs-5"><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="row mt-5">
                <h1>投稿の編集</h1>
            </div>

            <div class="row mt-5">
                <%= form_with model: @tweet, method: :patch do |f| %>
                    <div class="col-md-5">
                        <h4>サウナ施設</h4>
                        <%= f.collection_select :sauna_id, @saunas, :id, :name, include_blank: "選択して下さい", class: "form-control" %>
                    </div>

                    <div class="mt-4 col-md-5">
                        <h4>セット数</h4>
                        <%= f.select :count,[["1セット", 1], ["2セット", 2], ["3セット", 3],["4セット", 4], ["5セット", 5], ["6セット", 6], ["7セット", 7], ["8セット", 8], ["9セット", 9], ["10セット", 10]], include_blank: "選択して下さい", class: "form-control"%>
                    </div>

                    <div class="mt-4 col-md-5">
                        <h4>感想</h4>
                        <%= f.text_area :impression, class: "form-control", :size=>"60x10"%>
                    </div>

                    <div class="mt-4 col-md-5">
                        <h4>写真(1枚のみ)</h4>
                        <%= f.file_field :image, accept: "image/*", class: "form-control" %>
                    </div>

                    <div class="mt-4 col-md-8">
                        <h4>1セットにおけるサウナの時間(3分から15分の間で選択してください)</h4>
                        <%= f.select :sauna_time, [["3分以下", 3], ["4分", 4], ["5分", 5], ["6分", 6], ["7分", 7], ["8分", 8], ["9分", 9], ["10分", 10], ["11分", 11], ["12分", 12], ["13分", 13], ["14分", 14], ["15分以上", 15] ], include_blank: "選択して下さい", class: "fform-select"%>
                    </div>

                    <div class="mt-4 col-md-9">
                        <h4>1セットにおける水風呂の時間(10秒から2分30秒の間で選択してください)</h4>
                        <%= f.select :water_time, [["10秒以下", 0.167],["20秒", 0.333], ["30秒", 0.5], ["40秒", 0.667], ["50秒", 0.833], ["1分", 1], ["1分15秒", 1.25], ["1分30秒", 1.5], ["1分45秒", 1.75], ["2分", 2], ["2分15秒", 2.25], ["2分30秒以上", 2.5]], include_blank: "選択して下さい", class: "form-select"%>
                    </div>

                    <div class="mt-4 col-md-8">
                        <h4>1セットにおける休憩の時間(5分から12分の間で選択してください)</h4>
                        <%= f.select :totonoi_time, [["5分以下", 5], ["6分", 6], ["7分", 7], ["8分", 8], ["9分", 9], ["10分", 10], ["11分", 11], ["12分以上", 12]], include_blank: "選択して下さい", class: "form-select"%>
                    </div>

                    <%=f.submit '更新する', class: "btn btn-primary mt-5" %>
                <%end%>
            
            </div>

        </div>
    </div>
</div>