<%= render "layouts/header"%>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">
            <h1 class="text-center mt-5">サ活投稿一覧</h1>
            <p class="text-center mt-3 fs-5">全国のサウナーからの投稿です</p>

            <div class="row mt-5">
                <% @tweets.each do |tweet|%>
                    <div class="card mb-3 card-parent">
                        <div class="row">
                            <div class="col-auto pe-0">
                                <%=link_to tweet_path(tweet.id) do %>
                                    <%=image_tag tweet.get_image(307,230), class: "rounded"%>
                                <%end%>  
                            </div> 
                            <div class="col">
                                <div class="card-body">
                                    <span class="fs-4 card-title"><%=image_tag tweet.user.get_image(1000,1000), class: "me-1 mb-1", style: "border-radius: 100%; width: 37px; height: 37px;"%><%=tweet.user.name%></span>
                                    <div class="fs-4 mb-2"><%=link_to tweet.sauna.name, sauna_path(tweet.sauna.id), class: "text-dark"%></div>
                                    <%=link_to tweet_path(tweet.id), class: "text-dark" do%>
                                        <%=tweet.impression.truncate(50, omission: '...')%>
                                    <%end%>
                                    <div class="tweet-favorite" id="tweet_<%= tweet.id %>_favorite"><%=render 'public/favorites/btn_tweet', tweet: tweet%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <%= paginate @tweets, theme: 'bootstrap-5'%>
                </div>
            </div>

        </div>

    </div>
</div>