<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-11">
            <div class="row mt-5">
                <h1>サ活投稿</h1>
            </div>

            <div class="row mt-5">
                <%=link_to sauna_path(@tweet.sauna.id) do%><h2><%=@tweet.sauna.name%></h2><%end%>
                <h4><%=@tweet.user.name%></h4>
            </div>

            <div class="row mt-5">
                <h4>感想</h4>
                <p><%=@tweet.impression%></p>
            </div>

            <div class="row mt-5">
                <div class="col-md-auto rounded-2 rounded border p-2">
                    <i class="fa-solid fa-xl fa-fire" style="color: #eb1414;"></i>
                    <span class="p-1"><%=@tweet.sauna_time%>分</span>
                </div>

                <div class="col-md-auto rounded-2 rounded border p-2 ms-3">
                    <i class="fa-solid fa-droplet fa-xl" style="color: #154eb2;"></i>
                    <span class="p-1"><%=@tweet.water_time%>分</span>
                </div>
                
                <div class="col-md-auto rounded-2 rounded border p-2 ms-3">
                    <i class="fa-solid fa-chair fa-xl" style="color: #51a01c;"></i>        
                    <span class="p-1"><%=@tweet.totonoi_time%>分</span>
                </div>
            </div>
            
            <%if @tweet.user_id == current_user.id%>
                <div class="row mt-5">
                    <div class="col-md-1">
                        <%= button_to "削除", tweet_path(@tweet.id), method: :delete, data: { turbo_confirm: "この投稿を削除します。この操作は取り消せません。" }, class: "btn btn-secondary w-100" %>
                    </div>
                </div>
            <%end%>
        </div> 

    </div>
</div>