<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="offset-1 col-10">
            <div class="row mt-5">
                <h1 class="text-center">サ活投稿</h1>
            </div>

            <div class="row mt-5">
                <%=link_to sauna_path(@tweet.sauna.id) do%><h2 style="color: black"><%=@tweet.sauna.name%></h2><%end%>
               <span class="col-10 fs-5 ps-3"><%=image_tag @tweet.user.get_image(1000,1000), class: "me-1 mb-1", style: "border-radius: 100%; width: 35px; height: 35px;"%> <%=@tweet.user.name%></span>
               <p class="text-secondary ps-3">投稿日時 <%=l @tweet.created_at, format: :short%><p>
            </div>

            <div class="row mt-5">
                <div class="col-md-10 row-cols-2">
                    <h3>画像</h3>
                    <div class="card mt-1">
                        <%=image_tag @tweet.get_image(1000, 750), alt: "読み込みエラー"%>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <h3>感想</h3>
                <p class="fs-6"><%=simple_format(h(@tweet.impression))%></p>
            </div>

            <div class="row mt-4 ms-1">
                <div class="col-md-auto rounded-2 rounded border p-2">
                    <i class="fa-solid fa-xl fa-fire" style="color: #eb1414;"></i>
                    <span class="p-1"><%=@tweet.sauna_time%>分</span>
                </div>

                <div class="col-md-auto mt-2 mt-md-0 rounded-2 rounded border p-2 ms-md-3 ms-0">
                    <i class="fa-solid fa-droplet fa-xl" style="color: #154eb2;"></i>
                    <span class="p-1"><%=@tweet.water_time%>分</span>
                </div>
                
                <div class="col-md-auto mt-2 mt-md-0 rounded-2 rounded border p-2 ms-0 ms-md-3">
                    <i class="fa-solid fa-chair fa-xl" style="color: #51a01c;"></i>        
                    <span class="p-1"><%=@tweet.totonoi_time%>分</span>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-10">
                    <span id="tweet_<%= @tweet.id %>_favorite"><%=render partial: 'public/favorites/btn_tweet', locals: {tweet: @tweet}%></span>

                    <span class="ps-5 fs-5"><i class="fa-regular fa-message fa-lg" style="color: #262627;"></i> <%=@comments.count%></span>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-7">
                    <%= form_with model: [@tweet, @comment] do |f| %>
                        <%= f.text_area :comment, placeholder: "コメントは140字以内です", class: "form-control mb-3", rows: "3"%>
                        <%= f.submit "コメント投稿", class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>

            <div class="row mt-5">
                <%if @comments.count == 0%>
                    <h3>コメント欄</h3>
                    <p>まだコメントはありません。<p>
                <%else%>
                    <div class="col-md-7 cols-md-1">
                        <%@comments.each do |comment|%>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <span class="fs-6 card-title"><%=image_tag comment.user.get_image(1000,1000), style: "border-radius: 100%; width: 32px; height: 32px;"%><span class="ps-1"><%=comment.user.name%></span></span>
                                    <span class="ps-3 text-secondary"><%=l comment.created_at, format: :short%></span>
                                    <%if comment.user.id == current_user.id%>
                                        <%=link_to tweet_tweet_comment_path(tweet_id: @tweet.id, id: comment.id), 
                                        data: {turbo_method: :delete, turbo_confirm: "このコメントを削除します。"} ,class:"ps-1" do%><i class="fa-solid fa-trash fa-xs"></i><%end%>
                                    <%end%>
                                    <div class="mt-2"><%=comment.comment%></div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                <%end%>
            </div>
            
            <%if @tweet.user_id == current_user.id%>       
                <div class="row mt-5">
                    <div class="col-md-2 col-4">
                        <%= link_to "編集する", edit_tweet_path(@tweet.id), class: "btn btn-primary w-75" %>
                    </div>
                    <div class="col-md-2 col-4">
                        <%= button_to "削除する", tweet_path(@tweet.id), method: :delete, data: { turbo_confirm: "この投稿を削除します。この操作は取り消せません。" }, class: "btn btn-secondary w-75" %>
                    </div>
                </div>
            <%end%>
        </div> 

    </div>
</div>