<div class="row mt-5 text-center">
    <h3>いいねの多いサウナ</h3>
</div>

<div class="row row-cols-1  row-cols-sm-2 row-cols-md-4 mt-4 g-4">
    <% saunas.each do |sauna|%>
        <%=link_to sauna_path(sauna.id) do%>
            <div class="card">
                <%=image_tag sauna.get_image(900,600)%>
                <div class="card-body">
                    <h5 class="card-title"><%=sauna.name%></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%=sauna.address%></h6>
                    <span class="fs-6">
                        <% if sauna.sauna_favorited_by?(current_user) %>
                            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #e83030;"></i> <%= sauna.sauna_favorites.count %>
                        <% else %>                                     
                            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #141619;"></i> <%= sauna.sauna_favorites.count %>
                        <% end %>
                    </span>
                </div>
            </div>
        <%end%>
    <%end%>
</div>