<div class="container">
  <div class="row d-flex justify-content-center">
  <!--パスワードフォームは中心位置に長方形を配置するレイアウトにすること-->

    <h1 class="text-center mt-5">パスワードの設定</h1>
    <p class="pt-1 pb-0">オリジナルのパスワードを設定してください</p>
    
    <div class="col-11 col-md-5 registration-box">
      <%= form_with model: @user, url: registration_path(@user), method: :post, class:"row justify-content-center" do |f| %>
        <div class="col-10">
          <%= f.label :email, "メールアドレス", class: "pb-1" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mt-4 col-10">
          <%= f.label :name, "ニックネーム（他のユーザーにも公開されます）", class: "pb-1" %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mt-4 col-10">
          <%= f.label :password, "パスワード", class: "pb-1" %>
          <% if @minimum_password_length %>
          <span>（<%= @minimum_password_length %>文字以上にしてください）</span>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mt-4 col-10">
          <%= f.label :password_confirmation, "確認用", class: "pb-1" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-4 text-center">
          <% if flash[:notice]%>
            <p class="text-center mb-1 text-danger"><%= flash[:notice] %></p>
          <%end%>
          <%= f.submit "登録", class: "btn btn-primary col-10" %>
        </div>
      <% end %>
   
    </div>
  </div>
</div>
