<%= render "layouts/header"%>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">

          <div class="row mt-5"><h1 class="text-center">パスワードを忘れても大丈夫です！</h1></div>

          <div class="row mt-5">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "public/shared/error_messages", resource: resource %>

                  <div class="field col-md-6 offset-md-3 col-8 offset-2">
                    <%= f.label :email , "メールアドレスを入力してください", class: "pb-2"%><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>

                  <div class="actions mt-3 col-md-6 offset-md-3 col-8 offset-2 text-center">
                    <%= f.submit "パスワードのリセット方法をメールで送る", class: "btn btn-primary w-75"  %>
                  </div>
              <% end %>

              <div class="row mt-5 ">
                <div class="offset-md-3 col-md-6 col-8 offset-2"><%= render "public/shared/links" %></div>
              </div>
          </div>
        </div>
    </div>
</div>
