<%= render "layouts/header"%>

<div class="container">
  <div class="row d-flex justify-content-center">

    <h1 class="text-center mt-5">パスワードを忘れても大丈夫です！</h1>
    <p class="text-center">パスワードリセットメールを送信します。</p>

    <%= render "public/shared/error_messages", resource: resource %>

    <div class="col-11 col-md-5 registration-box">
      <%= form_with model: @user, url: user_password_path(@user), method: :post, class:"row justify-content-center" do |f| %>
        <div class="field col-10">
          <%= f.label :email , "メールアドレスを入力してください", class: "pb-2"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions mt-4 text-center">
          <%= f.submit "送信", class: "btn btn-primary col-10"  %>
        </div>

        <div class= "col-10 mt-4">
          <%= render "public/shared/links" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
