<%= render "layouts/header"%>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">
            <% if @user.errors.any? %>
                <div class="row mt-5">
                    <h1 class="text-center"><%= @user.errors.count %>件のエラーが発生しました</h1>
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li class="fs-5"><%= message %></li>
                        <% end %>
                    </ul>
            <% end %>

            <h1 class="text-center mt-5">ユーザー情報の編集</h1>

            <%= form_with model: @user, method: :patch, class: "row mt-4 justify-content-center" do |f| %>
                <div class="field col-11 col-md-8">
                    <%= f.label :name, "名前", class: "pb-1" %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="field mt-3 col-11 col-md-8">
                    <%= f.label :introduction, "自己紹介", class: "pb-1" %>
                    <%= f.text_area :introduction, placeholder: "自己紹介は120字以内でお願いします。", class: "form-control", :size=>"60x10" %>
                </div>
                <div class="field mt-3 col-11 col-md-8">
                    <%= f.label :profile, "画像", class: "pb-1" %>
                    <%= f.file_field :profile, accept: "image/*", class: "form-control" %>
                </div>

                <div class="text-center"><%= f.submit '保存する', class: "btn btn-primary mt-5 col-5" %></div>
            <%end%>
        </div>
    </div>
</div>