<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">

            <div class="row mt-5"><h1>マイページ</h1></div>

            <div class="row mt-5">
                <div class="col-4">
                    <div class="row">
                        <h3 class="text-center">ユーザー情報</h3>
                    </div>
                    
                    <div class="row">
                        <div class="row mt-5">
                            <div class="col-md-12 border-bottom border-dark pb-2">
                                <h4>ユーザー画像</h4>
                                <div class="text-center mx-auto mt-1"><%= image_tag @user.get_image(900,900), alt: '読み込みエラー', class: '', style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;"%></div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 align-self-center border-bottom border-dark pb-2">
                                <h4>名前</h4>
                                <span class="fs-5 text-center pb-1"><%=@user.name%></span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 border-bottom border-dark pb-3">
                                <h4>自己紹介</h4>
                                <span class="fs-5 pb-1"><%=simple_format(h(@user.introduction))%></span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 border-bottom border-dark pb-3">
                                <h4>サウナ回数(サ活投稿数)</h4>
                                <span class="fs-5 text-center pb-1"><%=@user.tweets.count%></span>
                            </div>
                        </div>

                        <div class="row mt-4 justify-content-md-center">
                            <div class="col-md-auto ">
                                <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-primary"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row">
                        <h3 class="text-center">サ活履歴</h3>
                    </div>

                    <div class="row mt-4 row-cols-1 row-cols-md-3 g-4">
                        <% @tweets.each do |tweet|%>
                            <%= link_to tweet_path(tweet.id) do%>
                                <div class="col">
                                    <div class="card">
                                        <%=image_tag tweet.get_image(900,600), class: "card-img-top"%>
                                        <div class="card-body">
                                            <span class="fs-5 card-title"><%=image_tag tweet.user.get_image(1000,1000), style: "border-radius: 100%; width: 32px; height: 32px;"%><span class="ps-1"><%=tweet.user.name%></span></span>
                                            <h6 class="card-subtitle mt-2 mb-2 text-body-secondary"><%=tweet.sauna.name%></h6>
                                            <p class="card-text">セット数： <%=tweet.count%>回</p>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="row mt-5 text-center">
                <h3>みんなの投稿</h3>
            </div>

            <div class="row row-cols-1 row-cols-md-4 mt-4 g-4">
                <% @tweets_all.each do |tweet|%>
                    <%= link_to tweet_path(tweet.id) do%>
                        <div class="col">
                            <div class="card">
                                <%=image_tag tweet.get_image(900,600), class: "card-img-top"%>
                                <div class="card-body">
                                    <span class="fs-5 card-title"><%=image_tag tweet.user.get_image(1000,1000), style: "border-radius: 100%; width: 32px; height: 32px;"%><span class="ps-1"><%=tweet.user.name%></span></span>
                                    <h6 class="card-subtitle mb-2 mt-2 text-body-secondary"><%=tweet.sauna.name%></h6>
                                    <p class="card-text">セット数： <%=tweet.count%>回</p>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>

            <div class="row mt-5 text-center">
                <h3>みんなが行くサウナ</h3>
            </div>

            <div class="row row-cols-1 row-cols-md-4 mt-4 g-4">
                <% @saunas.each do |sauna|%>
                    <%=link_to sauna_path(sauna.id) do%>
                        <div class="card">
                            <%=image_tag sauna.get_image(900,600)%>
                            <div class="card-body">
                                <h5 class="card-title"><%=sauna.name%></h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary"><%=sauna.address%></h6>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>

        </div>      
    </div>
</div>