<%= render "layouts/header"%>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">

            <div class="row mt-5"><h1 class="text-center">マイページ</h1></div>

            <div class="row mt-3">
                <div class="user-info">
                    <div class="row position-relative justify-content-center">
                        <div class="col-md-5">
                            <div class="row mt-5"></div>
                            <div class="row mt-5"></div>
                            <div class="row mt-3"></div>
                            <div class="row mt-5 user-info-text0">
                                <h2 class="text-center"><%=@user.name%>さん</h2>
                                <span class="text-center fs-2 pt-3"><%=@random%></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row my-3 user-info-text px-2">
                                <h4 class="text-center pt-3">ユーザー情報</h4>
                            
                                <div class="row mt-2">
                                    <span class="col-md-auto fs-6"><%=image_tag @user.get_image(1000,1000), class: "me-1 mb-1", style: "border-radius: 100%; width: 37px; height: 37px;"%> <%=@user.name%></span>
                                    <span class="pt-1"><%=l @user.created_at, format: :short%>から利用しています。</span>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <h5>自己紹介</h5>
                                        <span class="pb-1"><%=@user.introduction%></span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12 ">
                                        <h5>サウナ回数(サ活投稿数)</h5>
                                        <span class="pb-1"><%=@user.tweets.count%> 回</span>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <h5>いいねの総数</h5>
                                        <span class="pb-1"><%=@user.tweets.inject(0){|sum, tweet| sum + tweet.favorites.count}%> 個</span>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <div class="text-center">
                                        <%= link_to "ユーザー情報を編集する", edit_user_path(current_user.id), class: "btn btn-primary col-7"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>

            <div class="row mt-5">
                <h3 class="text-center mb-0"><%=current_user.name%>さんの最近</h3>
                <div class="row mt-5">
                    <div class="col-10 offset-1 bg-light-secondary p-2 rounded-2">
                        <p class="text-center pt-2 fs-5">今月<%=current_user.name%>さんはサウナに<%=current_user.tweets.for_month.count%>回行きました</p>
                        <p class="text-center">これは平均の時間です。自分にあった入り方を見つけましょう。</p>
                        <table class="w-100">
                            <tr><th width="50%" height="70px" class="text-center"><i class="fa-solid fa-xl fa-fire pe-1" style="color: #eb1414;"></i>サウナ</th><td width="50%" class="text-center fs-3"><%=@about_time[:sauna]%>分</td><tr>
                            <tr><th height="70px" class="text-center"><i class="fa-solid fa-droplet fa-xl pe-1" style="color: #154eb2;"></i>水風呂</th><td class="text-center fs-3"><%=@about_time[:water]%>分</td><tr>
                            <tr><th height="70px" class="text-center"><i class="fa-solid fa-chair fa-xl pe-1" style="color: #51a01c;"></i> ととのい</th><td class="text-center fs-3"><%=@about_time[:totonoi]%>分</td><tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="row">
                    <h3 class="text-center">サ活履歴</h3>
                </div>

                <div class="row mt-4 row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                    <% @tweets.each do |tweet|%>
                        <%= link_to tweet_path(tweet.id) do%>
                            <div class="col">
                                <div class="card">
                                    <%=image_tag tweet.get_image(900,600), class: "card-img-top"%>
                                    <div class="card-body">
                                        <span class="fs-5 card-title"><%=image_tag tweet.user.get_image(1000,1000), style: "border-radius: 100%; width: 32px; height: 32px;"%><span class="ps-1"><%=tweet.user.name%></span></span>
                                        <h6 class="card-subtitle mt-2 mb-2 text-body-secondary"><%=tweet.sauna.name%></h6>
                                        <span class="fs-6">
                                            <% if tweet.favorited_by?(current_user) %>
                                                <i class="fa-regular fa-thumbs-up fa-lg" style="color: #e83030;"></i> <%= tweet.favorites.count %>
                                            <% else %>                                     
                                                <i class="fa-regular fa-thumbs-up fa-lg" style="color: #141619;"></i> <%= tweet.favorites.count %>
                                            <% end %>

                                            <span class="ps-3 fs-6"><i class="fa-regular fa-message fa-lg" style="color: #262627;"></i> <%=tweet.tweet_comments.count%></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                </div>
            </div>

            <div class="mt-5">
                <%=render "layouts/three_btn"%>
            </div>

            <div class="row mt-5 text-center">
                <h3>みんなの投稿</h3>
            </div>

            <div class="row row-cols-1  row-cols-sm-2 row-cols-md-4 mt-4 g-4">
                <% @tweets_all.each do |tweet|%>
                    <%= link_to tweet_path(tweet.id) do%>
                        <div class="col">
                            <div class="card">
                                <%=image_tag tweet.get_image(900,600), class: "card-img-top"%>
                                <div class="card-body">
                                    <span class="fs-5 card-title"><%=image_tag tweet.user.get_image(1000,1000), style: "border-radius: 100%; width: 32px; height: 32px;"%><span class="ps-1"><%=tweet.user.name%></span></span>
                                    <h6 class="card-subtitle mb-2 mt-2 text-body-secondary"><%=tweet.sauna.name%></h6>
                                    <span class="fs-6">
                                        <% if tweet.favorited_by?(current_user) %>
                                            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #e83030;"></i> <%= tweet.favorites.count %>
                                        <% else %>                                     
                                            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #141619;"></i> <%= tweet.favorites.count %>
                                        <% end %>
                                    </span>
                                    <span class="ps-3 fs-6"><i class="fa-regular fa-message fa-lg" style="color: #262627;"></i> <%=tweet.tweet_comments.count%></span>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>

            <%=render 'public/saunas/favorite_sauna', saunas: @saunas%>

        </div>      
    </div>
</div>