<header>
    <div class="d-flex">
        <div id="nav-ham"><div class="openbtn1" id="ham-item"><span></span><span></span><span></span></div></div>
        <% if user_signed_in? %>
            <%=link_to user_path(current_user.id), class: "navbar-brand" do%>
                <%= image_tag 'header_logo.png', :size =>'240x60' %>
            <% end %>
        <%else%>
            <%=link_to root_path, class: "navbar-brand" do%>
                <%= image_tag 'header_logo.png', :size =>'240x60' %>
            <% end %>
        <%end%>

        <div class="position-absolute end-0" id="nav-bar">
            <ul class="d-flex mb-0" id="nav-items">
                <% if user_signed_in? %>
                    <li class="me-1">
                        <%= link_to "マイページ", user_path(current_user.id), class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サウナ一覧", saunas_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サ活一覧", tweets_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サ活投稿", new_tweet_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "ログアウト", destroy_user_session_path,  data: {"turbo-method": :delete}, class: 'header-navItem' %>
                    </li>
                <% else %>
                    <li class="me-1">
                        <%= link_to "今すぐ始める", new_user_registration_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "ログイン", new_user_session_path, class: 'header-navItem' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</header>

<style>
    ul{padding-left:0;}
    li{list-style:none;}
    .hide{display: none;}
</style>

<nav class="nav-ph hide">
    <ul style="margin-top: 2px;">
        <% if user_signed_in? %>
            <li>
                <%= link_to "マイページ", user_path(current_user.id), class: 'header-navItem-hide' %>
            </li>
            <li>
                <%= link_to "サウナ一覧", saunas_path, class: 'header-navItem-hide' %>
            </li>
            <li>
                <%= link_to "サ活一覧", tweets_path, class: 'header-navItem-hide' %>
            </li>
            <li>
                <%= link_to "サ活投稿", new_tweet_path, class: 'header-navItem-hide' %>
            </li>
            <li>
                <%= link_to "ログアウト", destroy_user_session_path, data: {"turbo-method": :delete}, class: 'header-navItem-hide' %>
            </li>
        <% else %>
            <li>
                <%= link_to "今すぐ始める", new_user_registration_path, class: 'header-navItem-hide' %>
            </li>
            <li>
                <%= link_to "ログイン", new_user_session_path, class: 'header-navItem-hide' %>
            </li>
        <% end %>
    </ul>
</nav>

<script>
    $(function(){
        let nav_items = $('#nav-items');
        let ham_item = $('#ham-item');
        if($(window).width() < 900){
            if(!$("#nav-bar").hasClass("hide")){
                $("#nav-bar").addClass("hide");
            }
        }else{
            if(!$("#nav-ham").hasClass("hide")){
                $("#nav-ham").addClass("hide");
            }
        }
        $(window).resize(function(){
            if($(window).width() < 900){
                //ナビゲーションバーを消す記述
                if(!$("#nav-bar").hasClass("hide")){$("#nav-bar").hasClass("hide");}
               //ハンバーガーメニューアイコンを表示させる記述
                if($("#nav-ham").hasClass("hide")){$("#nav-ham").removeClass("hide");}
            }else{
                //ハンバーガーメニューアイコンを消す記述
                if(!$("#nav-ham").hasClass("hide")){$("#nav-ham").hasClass("hide");}
                //ナビゲーションバーを表示させる処理
                if($("#nav-bar").hasClass("hide")){$("#nav-bar").removeClass("hide");}
                //ハンバーガーメニューを押したら出てくるやつを消す処理
                if(!$(".nav-ph").hasClass("hide")){$(".nav-ph").hasClass("hide");}
            }
        });
        $(".openbtn1").click(function () {
            $(this).toggleClass('active');
        });
        var navButton = $(".openbtn1")
        .click(function(){
            $(".nav-ph").toggleClass("hide");
        });
    });
</script>