<header>
    <nav class="navbar navbar-expand-lg py-0">
        <div class="container-fluid">
            <!--ブランドロゴ長方形-->
            <% if user_signed_in? %>
            <%=link_to user_path(current_user.id), class: "navbar-brand" do%>
                <%= image_tag 'header_logo.png', :size =>'200x50' %>
            <% end %>
            <%else%>
            <%=link_to root_path, class: "navbar-brand" do%>
                <%= image_tag 'header_logo.png', :size =>'200x50' %>
            <% end %>
            <%end%>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                    <li class="me-1">
                        <%= link_to "マイページ", user_path(current_user.id), class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サウナ一覧", saunas_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サ活一覧", tweets_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "サ活投稿", new_tweet_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "ログアウト", destroy_user_session_path,  data: {"turbo-method": :delete}, class: 'header-navItem' %>
                    </li>
                <% else %>
                    <li class="me-1">
                        <%= link_to "今すぐ始める", new_user_registration_path, class: 'header-navItem' %>
                    </li>
                    <li class="me-1">
                        <%= link_to "ログイン", new_user_session_path, class: 'header-navItem' %>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>