<!DOCTYPE html>
<html>
  <head>
    <title>サウナ探検隊</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('sauna_favicon.ico') %>
    
    <script src="https://kit.fontawesome.com/0ea4f70a08.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p class="mb-0">サウナ探検家のためのサイトです</p>
            <%= image_tag 'header_logo.png', :size =>'240x60' %>
            <p class="mb-0">© サウナ探検隊</p>
          </div>
          <div class="col-md-2 mt-md-0 mt-2">
          </div>
          <div class="col-md-3 mt-md-0 mt-3"> 
            <h6 class="mb-3">Support</h6>
            <ul class="p-0">
              <li>
                <a href="https://hitori-times.com/contact-form/" title="contact" class="text-dark">問い合わせ(ブログへ遷移します)</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mt-md-0 mt-3">
            <h6 class="mb-3">Information</h6>
            <ul class="p-0">
              <li>
                <a href="https://hitori-times.com/" title="About" class="text-dark">製作者情報(ブログへ遷移します)</a>
              </li>
              <li class="pt-2">
                <a href="<%=privacy_path%>" title="License informations" class="text-dark">プライバシーポリシー</a>
              </li>
              <li class="pt-2">
                <%=link_to "退会はこちらから", unsubscribe_path, class: "text-dark"%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</html>
